<app-header urlImageBanner="../../../assets/services/banner-services.png" />
<section class="Services__ours">
  <h2 class="Services__ours_title">Nuestros servicios</h2>
  <div class="Services__ours_services">

    <app-our-service icon="../../../assets/services/our-service-01.png" title="Comercialización
  de soluciones y
  servicios para
  los productores" content="AgrodatAi funciona como un canal
  para que los productores que se
  encuentran registrados en nuestra
  Plataforma puedan demandar
  servicios como crédito, seguro,
  asistencia técnica y establecer
  relaciones comerciales como venta
  de productos y compra de insumos,
  maquinaria y equipos" />
  </div>
</section>

<Section class="Our__app">
  <h2 class="Our__app_title">
    ¡Mira este video y conoce nuestra plataforma!
  </h2>
  <div class="Our__app_video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/3kgX81zOjcI" title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
  <div class="Our__app_btn">Accede aquí a nuestros tutoriales</div>
</Section>
<section class="HelpYou__container">
  <div class="HelpYou__container_helps">
    <app-help-you image="../../../assets/services/service-01.png" text="Ayudamos a las instituciones
    financieras de crédito y seguro
    a ejecutar estrategias y acciones
    que les permita llegar a los
    productores agropecuarios a
    través de los canales de AgrodatAi." />

    <app-help-you image="../../../assets/services/service-01.png" text="Ayudamos a las instituciones
    financieras de crédito y seguro
    a ejecutar estrategias y acciones
    que les permita llegar a los
    productores agropecuarios a
    través de los canales de AgrodatAi." />

  </div>
</section>

<section class="Technology__container">
  <div class="Technology__container_content">
    <app-our-technology image="../../../assets/services/Recurso 10.png" text="Inteligencia Artificial" />
    <app-our-technology image="../../../assets/services/Recurso 10.png" text="Inteligencia Artificial" />
  </div>
</section>
