.principal-banner-images {
  width: 100%;
  display: flex;
  font-family: 'Google Sans';
}

.welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #896D9F;
  margin: 0px;
  padding: 0px;
}

.welcome-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.welcome-container {
  width: 50%;
  margin: 0%;
  padding: 20px 40px;
}

.welcome-container-title {
  text-align: left;
  color: #01FEAF;
  padding: 8px 0px;
}

.welcome-container-content {
  text-align: left;
  color: #FFFFFF;
  padding: 8px 0px;
}

.welcome-container-button {
  border: solid 3px #01FEAF;
  border-radius: 16px;
  color: #01FEAF;
  background-color: transparent;
  padding: 8px 16px;
  margin: 10px 0px;
}

.statistics {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}

.statistics-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.statistics-container {
  color: #FFFFFF;
  text-align: center;
  padding: 8px 32px;
}

.statistics-container h1 {
  font-size: 36px;
  padding: 8px;
  margin: 0px;
}

.statistics-container p {
  font-size: 18px;
  padding: 4px;
  margin: 0px;
}

.statistics-container.container-first {
  width: 33%;
  background: #00926A;
}

.statistics-container.container-second {
  width: 33%;
  background: #007A54;
}

.statistics-container.container-third {
  width: 33%;
  background: #00583B;
}

.services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/home/background-services.png');
  background-size: auto;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

.services-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.services-title {
  text-align: center;
  color: #572F76;
  font-size: 36px;
  font-weight: bold;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.services-container-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.services-card-image {
  width: 80px;
  height: 100px;
}

.services-card-description {
  text-align: center;
  color: #572F76;
  font-size: 18px;
  font-weight: bold;
}

.data {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.data__secction {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.data__section--products {
  width: 100%;
  height: 100%;
}

.product__headerData {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--morado1);
  font-weight: bold;
}

.product__headerData img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.product__headerData h2 {
  font-size: 2rem;
}

.data__section--map {
  width: 100%;
  height: 100%;
}

.data__section--map img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.downloadApp {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--morado1);
  padding: 0px;
  margin: 0px;
}

.downloadApp__secction {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  margin: 0px;
}

.downloadApp__secction h2 {
  text-align: center;
  font-size: 1.2rem;
  color: var(--verde4);
}

.downloadApp__images {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.downloadApp__images img {
  width: 200px;
}

.ourPartners {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.ourPartners__secction {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--morado1);
  font-weight: bold;
  padding: 20px 0px;
  margin: 0px;
}
.ourPartners__secction h2 {
  font-size: 2rem;
  margin: 0px;
}
.ourPartners__secction p {
  margin: 0px 0px 30px;
}
.ourPartners__carrusel {
  width: 100%;
}

.card {
  width: 80%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  background-color: #ffffff;
  margin: auto;
}


.blog img {
  width: 100%;
  border-radius: 21px 21px 0px 0px;
  height: 200px;
  object-fit: contain;
  cursor: pointer;
}
@media (min-width : 760px) {
  .data__secction {
    flex-direction: row;
    height: 760px;
  }

  .downloadApp__secction h2 {
    font-size: 2rem;
  }

  .downloadApp__images {
    flex-direction: row;
  }

}
