.principal-banner-images {
  width: 100%;
  display: flex;
  font-family: 'Google Sans';
}

.welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #896D9F;
  margin: 0px;
  padding: 0px;
}

.welcome-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.welcome-container {
  width: 50%;
  margin: 0%;
  padding: 20px 40px;
}

.welcome-container-title {
  text-align: left;
  color: #01FEAF;
  padding: 8px 0px;
}

.welcome-container-content {
  text-align: left;
  color: #FFFFFF;
  padding: 8px 0px;
}

.welcome-container-button {
  border: solid 3px #01FEAF;
  border-radius: 16px;
  color: #01FEAF;
  background-color: transparent;
  padding: 8px 16px;
  margin: 10px 0px;
}

.statistics {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0px;
  margin: 0px;
}

.statistics-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.statistics-container {
  color: #FFFFFF;
  text-align: center;
  padding: 8px 32px;
}

.statistics-container h1 {
  font-size: 36px;
  padding: 8px;
  margin: 0px;
}

.statistics-container p {
  font-size: 18px;
  padding: 4px;
  margin: 0px;
}

.statistics-container.container-first {
  width: 33%;
  background: #00926A;
}

.statistics-container.container-second {
  width: 33%;
  background: #007A54;
}

.statistics-container.container-third {
  width: 33%;
  background: #00583B;
}

.services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/home/background-services.png');
  background-size: auto;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}

.services-section {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.services-title {
  text-align: center;
  color: #572F76;
  font-size: 36px;
  font-weight: bold;
}

.services-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.services-container-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: auto;
}

.services-card-image {
  width: 80px;
  height: 100px;
}

.services-card-description {
  text-align: center;
  color: #572F76;
  font-size: 18px;
  font-weight: bold;
}
