<div class="products__container" [ngStyle]="{'background-color': bgColor}">
  <div class="products__block">
    <h2>{{name}}</h2>
    <p>{{price}}</p>
    <p>{{forecast}}</p>
  </div>
  <div class="products__block">
    <div class="products__location">
      <div class="products__image">
        <img src="../../../../assets/home/recurso-9.png" alt="icon location" />
      </div>
      <p>{{location}}</p>
    </div>
    <div class="products__weather">
      <div class="products__image">
        <img src="../../../../assets/home/recurso-9.png" alt="icon location" />
      </div>
      <p>{{weather}}</p>
    </div>
  </div>
</div>
