<app-header urlImageBanner="../../../assets/aboutUs/banner-about-us.png" />
<section class="AboutUs__page">
  <section class="AboutUs__page_ourHistory">
    <h2 class="OurHistory__title">Nuestra historia</h2>
    <p class="OurHistory__text">
      Teniendo en cuenta la baja productividad y rentabilidad de los productores agropecuarios, en parte generada por el
      poco acceso a en el sector agropecuario y en el desarrollo de sistemas de geolocalización inteligente, se únen con
      el ánimo de crear una solución información y la ineficiencia para establecer relaciones comerciales y de servicio,
      en el 2018, un grupo de profesionales expertos tecnológica que permitiera superar esta problemática con el
      ordenamiento, procesamiento y combinación de más de 100 bases de datos públicas, privadas y propias, a través de
      la
      ciencia de datos y las tecnologías de la cuarta revolución industrial.
    </p>
  </section>
  <section class="OurHistory__page_seccionTwo">
    <div class="SeccionTwo__ourPassion">
      <h4>Nuestra pasión</h4>
      <p>
        Empoderar a los productores y productoras mediante el establezcan relaciones comerciales y servicio con los
        demás acceso a información y conocimiento, y propiciando que participantes de las cadenas agro a través de
        herramientas sus negocios agro. digitales que les permita ser más productivos y rentables e
      </p>
    </div>
    <div class="SeccionTow__ourPurpose">
      <h4>Nuestra pasión</h4>
      <p>
        Latinoamérica que propende por una cadena de valor justa Ser la plataforma digital del sector agropecuario de
        los productores y productoras.
        para todos los actores de las cadenas agro, especialmente los productores y productoras.

      </p>
    </div>
  </section>
  <section class="OurHistory__page_seccionThree">
    <h2 class="SeccionThree__title">Contribuímos en los siguientes Objetivos de Desarrollo Sostenible (ODS)</h2>
    <div class="SeccionThree__content">
      <app-objectives />
    </div>
  </section>
</section>
