<footer>
  <section class="footer-background">
    <div class="footer-container-header">
      <img src="../../../assets/footer/don-tulio.png" class="footer-header-img" alt="Icono don tulio"/>
      <div class="footer-container-content">
        <p class="footer-content-title">¿Eres productor agropecuario?</p>
        <button class="footer-content-button">REGÍSTRATE GRATIS</button>
      </div>
    </div>
    <div class="footer-container-form">
      <div class="footer-form-description">
        <p class="form-description-title">¿Quiéres conocer más?</p>
        <p class="form-description-content">Si necesitas atención personalizada, escríbenos y con gusto te contactaremos.</p>
      </div>
      <div class="footer-form-content">
        <form class="footer-form-container" [formGroup]="contactForm" (ngSubmit)="sendNewForm()">
          <input class="footer-form-input" type="text" placeholder="Nombre" formControlName="name" />
          <input class="footer-form-input" type="text" placeholder="Correo electronico" formControlName="email" />
          <input class="footer-form-input" type="text" placeholder="Telefono" formControlName="phone" />
          <button class="footer-form-button">Enviar</button>
        </form>
      </div>
    </div>
  </section>

  <section class="footer-nav">
    <div class="footer-nav-container">
      <div class="footer-nav-horizontal">
        <div *ngFor="let option of topNavbar" class="nav-horizontal-option">
          {{ option.description }}
        </div>
      </div>
      <p>Información de interés</p>
      <div class="footer-nav-vertical">
        <div *ngFor="let option of leftNavbar" class="nav-vertical-option">
          {{ option.description }}
        </div>
      </div>
    </div>
    <div class="footer-nav-container right-align">
      <img class="footer-nav-logo" src="../../../assets/footer/logo-agrodati.png" alt=""/>
    </div>
  </section>
</footer>